.section--footer {
@include section;
padding-top: 0px;
padding-bottom: 0px;
text-align: start;
background-image: url(../images/fruit-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;


}

.container--footer {
@include container;
padding-top: 100px;
padding-bottom: 200px;
display: flex;
}

.footer-nav-list {
display: inline-flex;
}
.nav-logo {
display: flex;
align-items: center;
}

.footer-wrap-logo{
width: 50%;
}

.footer-wrap-sub{
width: 50%;
}